body {
  background-color: red;
}

.parent {
  border: 1px solid black;
  padding: 0;
}

#delorean {
  position: absolute;
  top: 50px;
}

#mcqueen {
  position: absolute;
  top: 200px;
}

img.flags {
  width: 70px;
  height: 60px;
}
